html{
    --even:#6f2c91;
    --odd:#4b8f00;
  }

.widget {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  padding: 14px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainline {
  border-bottom: 4px solid #767a80;
  width: 100%;
}
.circleout{
    background: #fff;
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 100%;
}
.evencircleout{
    border: 2px solid var(--even);
}
.oddcircleout{
    border: 2px solid var(--odd);
}
.circlein{
    position: absolute;
    height: 9px;
    width: 9px;
    border-radius: 100%;
}
.evencirclein{
    background-color: var(--even);
}
.oddcirclein{
    background-color: var(--odd);
}
.circlehalf{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 100%;
}
.evencirclehalf{
    border-top: 2px solid var(--even);
    transform: translateY(-6px);
}
.oddcirclehalf{
    border-bottom: 2px solid var(--odd);
    transform: translateY(6px);
}
.line{
    height: 30px;
    width: 2.5px;
    position: absolute;
}
.evenline{
    background: var(--even);
    transform: translateY(-29px);
}
.oddline{
    transform: translateY(29px);
    background: var(--odd);

}
.smallcircle{
    position: absolute;
    height: 3px;
    width: 3px;
    border-radius: 100%;
}
.evensmallcircle{
    border: 2px solid var(--even);
    transform: translateY(-46px);
}
.oddsmallcircle{
    border: 2px solid var(--odd);
    transform: translateY(46px);
}
.bigcircle{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.evenbigcircle{
    border: 6px solid var(--even);
    transform: translateY(-71px);
}
.oddbigcircle{
    border: 6px solid var(--odd);
    transform: translateY(71px);
}
.textconainer{
    position: absolute;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: 0.7s;
    width: 100px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.eventextconainer{
    transform: translateY(53px);
}
.oddtextconainer{
    transform: translateY(-53px);
}